<h6 class="text-center my-3" style="color: black">{{key}}</h6>
<table class="sheet0">
    <thead style="border-bottom: 1px solid black">
    <tr>
        <td>Sales Person</td>
        <td>Quoted</td>
        <td>Actual</td>
        <td>Ratio</td>
    </tr>
    </thead>
    <tbody>
    {% for k, row in values %}
    <tr>
        <td>{{k}}</td>
        <td>{{row.QuotedHours|floatformat}}</td>
        <td>{{row.ActualHours|floatformat}}</td>
        <td>{{row.Ratio|floatformat}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>