{% load static %}

<style>
  .nav-item {
      font-size: 12px;
  }
</style>

<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="sidebar-brand">
      <img src="{%static '/assets/images/logo.jpg'%}" width="140" , alt="" />
    </a>
    <div class="dropdown">
      <div class="sidebar-toggler not-active dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'gm:sheet_compilation' %}">Compilation sheets</a>
        <div class="dropdown-item sidebar-toggle not-active" href="#">Toggle Side Menu</div>
      </div>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
      <!-- <li class="nav-item">
          <a href="dashboard-one.html" class="nav-link">
            <i class="link-icon" data-feather="users"></i>
            <span class="link-title">Partners</span>
          </a>
        </li> -->
      <!-- <li class="nav-item nav-category">GM</li>
        <li class="nav-item">
          <a href="pages/apps/chat.html" class="nav-link">
            <i class="link-icon" data-feather="message-square"></i>
            <span class="link-title">Scorecard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false" aria-controls="emails">
            <i class="link-icon" data-feather="box"></i>
            <span class="link-title">Dashboard</span>
            <i class="link-arrow" data-feather="chevron-down"></i>
          </a>
          <div class="collapse" id="emails">
            <ul class="nav sub-menu">
                    {% for sheet in gm_sheets %}
                      {% if sheet.is_seen_today %}
                        <li class="nav-item ">
                          <a href="/gm/sheets/{{sheet.id}}/summary" class="nav-link" data-id="{{sheet.id}}">{{sheet.display_name}}</a>
                        </li>
                      {% else %}
                        <li class="nav-item nonseen-report ">
                            <a href="/gm/sheets/{{sheet.id}}/summary" class="nav-link" data-id="{{sheet.id}}">{{sheet.display_name}}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                 
            </ul>
          </div> -->
      <!-- </li> -->
      <!-- <li class="nav-item nav-category">PMMS</li> -->

      <!-- <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="message-square"></i>
            <span class="link-title">Scorecard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="box"></i>
            <span class="link-title">Dashboard</span>
          </a>
        </li>
         -->
      <!-- <li class="nav-item nav-category">FnA</li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="message-square"></i>
            <span class="link-title">Scorecard</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#fna" role="button" aria-expanded="false" aria-controls="fna">
              <i class="link-icon" data-feather="box"></i>
              <span class="link-title">Dashboard</span>
              <i class="link-arrow" data-feather="chevron-down"></i>
            </a>
            <div class="collapse ml-2" id="fna">
               <span class="link-title" style="color: white;font-size: 14px;" >
                    Purchasing
               </span> 
              <ul class="nav sub-menu ml-2 m">
                {% for sheet in fna_sheets %}
                  {% if sheet.is_seen_today %}
                    <li class="nav-item ">
                        <a href="/fna/sheets/{{sheet.id}}" class="nav-link" data-id="{{sheet.id}}">{{sheet.display_name}}</a>
                    </li>
                  {% else %}
                    <li class="nav-item nonseen-report ">
                        <a href="/fna/sheets/{{sheet.id}}" class="nav-link" data-id="{{sheet.id}}">{{sheet.display_name}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li> -->

      <!-- <li class="nav-item nav-category">OWL</li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="message-square"></i>
            <span class="link-title">Scorecard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="box"></i>
            <span class="link-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item nav-category">Technical</li>

        <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="message-square"></i>
            <span class="link-title">Scorecard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="link-icon" data-feather="box"></i>
            <span class="link-title">Dashboard</span>
          </a>
        </li> -->

      <li class="nav-item nav-category" id="id_menu_department">Hi {{ department_name }}</li>
      <li class="nav-item nav-category" id="id_menu_department">------------------------</li>
      
      <li class="nav-item nav-category" id="id_menu_department">
        <a href="/fna/dashboard/{{ department_name }}" class="nav-link" data-id="{{sheet.id}}">Dashboard</a>
      </li>
      {% for head, v in sidebar_data.items %}
      <li class="nav-item nav-category" id="id_menu_department">{{ head }}</li>
      {% for item in v %}
      <li class="nav-item ">
        <a href="{{item.url}}" class="nav-link" data-id="{{sheet.id}}">{{item.display_name}}</a>
      </li>
      {% endfor %}
      {% endfor %}

      <li class="nav-item nav-category" id="id_menu_department">Trophy Room</li>

    </ul>
  </div>
</nav>