
{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% cache 500 content %}
{% block content %} 
<div class="d-flex mb-3 mb-md-4 justify-content-between">
    <h4 class=" sheet_link" data-id="{{sheet.id}}">{{sheet.display_name}}</h4> 
</div>

<div style="overflow-x:auto;">
   <table class="table table-cls table-bordered" id="example">
       <thead><tr>
           {% for c in columns%}
           <th>{{c}}</th>
           {% endfor %}
       </tr></thead>
       <tbody></tbody>
  </table>
</div>
{% endblock %}
{% block js %}
<script>
    var url = "{% url 'fna:server_side_table' sheet.id %}"
    $(document).ready(()=>{
        $('#example thead tr').clone(true).appendTo( '#example thead' );
        $('#example thead tr:eq(0) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'"   id="'+title.split(' ').join('_')+'"/>' );
    
            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );
        var table = $('#example').DataTable({
                    processing: true,
                    serverSide: true,
                    "pageLength": 100,
                    "ajax": {
                        url: url,
                        type: "GET",
                    },
                    columns: [
                        {
                            data: '0',
                            render: function(data, type, row, meta) {
                                return data;
                            }
                        },
                        {
                            data: '1',
                            render: function(data, type, row, meta) {
                                return data;
                            }
                        },
                        {
                            data: '2',
                            render: function(data, type, row, meta) {
                                return "$" + data;
                            }
                        },
                        {
                            data: '3',
                            render: function(data, type, row, meta) {
                                return "$" + data;
                            }
                        },
                        {
                            data: '4',
                            render: function(data, type, row, meta) {

                                return "$" + data;
                            }
                        },
                        {
                            data: '5',
                            render: function(data, type, row, meta) {
                                return "$" + data;
                            }
                        }
                    ],
                    initComplete: res => {
                        setTimeout(selectSelectedFilters, 500)
                    }
                });
       $("#example_filter").empty()
       var selectSelectedFilters = () => {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            for (var key in vars) {
                if (vars.hasOwnProperty(key)) {
                        $("#"+key).val(vars[key]);
                        $("#"+key).trigger("change");
                }
            }
       }  
    })
</script>
{% endblock %}
{% endcache %}
