
{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% cache 500 content %}
{% block content %} 
<style>
    .active{
        background-color:#1F4E78 !important;
        color: white;
    }
</style>
<div class="d-flex mb-3 mb-md-4 justify-content-between">
    <h4 class=" sheet_link" data-id="{{sheet.id}}">{{sheet.display_name}}</h4> 
</div>

   <table class="table table-cls table-bordered" id="example">
       <thead><tr>
           {% for c in columns%}
           <th>{{c}}</th>
           {% endfor %}
       </tr></thead>
       <tbody></tbody>
  </table>
{% endblock %}
{% block js %}
<script>
    var url = "{% url 'fna:server_side_table' sheet.id %}"
    $(document).ready(()=>{
        $('#example thead tr').clone(true).appendTo( '#example thead' );
        $('#example thead tr:eq(0) th').each( function (i) {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'"   id="'+title.split(' ').join('_')+'"/>' );
    
            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );
        var table = $('#example').DataTable({
                    processing: true,
                    serverSide: true,
                    "ajax": {
                        url: url,
                        type: "GET",
                    },
                    createdRow: function(row, data, index) {
                        $(row).addClass("inner-content");
                        $(row).attr('id', $.trim(data[0]))
                        $(row).attr('data-id', $.trim(data[0]))
                    },
                    initComplete: res => {
                        setTimeout(selectSelectedFilters, 500)
                    }
                });
                function format ( d ) {
                    var id = d[0].split(' ').join('_')
                    var html = `<div style="position: relative;">
                            <table cellpadding="5"  cellspacing="0" class=' offlineTable w-100 table-cls table-bordered'>
                            <thead>
                                <tr>
                                    <th>Part</th>
                                    <th>Desc</th>
                                    <th>Quan</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody id='tbody${id}'>`
                                html+= `<tr><td colspan="5" class="text-center"><div class="spinner-border text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                        </div></td></tr>
                                    </tbody></table>
                                    <div class="close-table-btn" id="close-btn${$.trim(d[0])}"  data-id="${id}">x</div>
                                    </div>`

                    $.ajax({
                        url: "/fna/po_leds/"+$.trim(d[0]),
                        success: res => {
                            $("#tbody"+id).empty()
                            if(res.length == 0){
                                var rowHtml = `<tr>
                                    <td colspan="5" class="text-center">
                                    No Item found
                                    </td>
                                </tr>
                                    `;
                                $("#tbody"+id).append(rowHtml);
                            }
                            res.forEach(element => {
                                var rowHtml =  `<tr>
                                        <td>${element[0]}</td>
                                        <td>${element[1]}</td>
                                        <td>${element[2]}</td>
                                        <td>${element[3]}</td>
                                        <td>${element[4]}</td>
                                    </tr>`;
                                $("#tbody"+id).append(rowHtml);
                            });
                        },
                    })
                    return html
                }
            
        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'tr.inner-content', function () {
            var tr = $(this);
            var row = table.row( tr );
            var id =  tr.attr("id")
            debugger
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                tr.removeClass('active');
            }
            else {
                // Open this row
                var res = format(row.data())
                row.child( res, ' p-0' ).show();
                tr.addClass('shown');
                tr.addClass('active');
                
                
            }
            $("#close-btn"+id).on('click', e => {
                    debugger
                    var tr = $("#"+id)
                    var row = table.row(tr)
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.removeClass('active');
                })
                
        } );


       $("#example_filter").empty()
       var selectSelectedFilters = () => {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            for (var key in vars) {
                if (vars.hasOwnProperty(key)) {
                        $("#"+key).val(vars[key]);
                        $("#"+key).trigger("change");
                }
            }
       }  
    })
</script>
{% endblock %}
{% endcache %}
