
{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% cache 500 content %}
{% block content %}
<div style="overflow-x:auto;">

    <h1>{{year}}</h1>
     <table class="table table-striped table-bordered">
        <thead>
          <tr>
              <th>PM</th>
              <th>Quoted</th>
              <th>Actual</th>
              <th>Year</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for  v in result_years %}
        <tr>
            {% for col in v%}
                <td>{{col}}</td>
            {% endfor %}
            <td><a href="/sheets/actualvsquoted/year/{{v.3}}/person/{% with v|first as first_doc %}{{ first_doc }}{% endwith %}">Details</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
  
{% endblock %}

{% block js %}
<script>
    $(document).ready(() =>{
        $('.table').DataTable();
    })
</script>
{% endblock %}
{% endcache %}
